var fs = require('fs');

module.exports = {
  cache : true,
  entry : {
      'main' : './front/js/main.jsx'
  },
  context : __dirname,
  output : {
    path : './public/assets/js/',
    filename : '[name].js'
  },
  resolve : {
    extensions: ['', '.jsx','.js']
  },
  module: {
    loaders: [
      {test: /\.jsx$/, loader: 'jsx-loader'},
      {test: /\.less$/, loader: 'style-loader!css-loader!less-loader'}
    ]
  },

};
