
.splash-continue {
  text-align : center;
}

.game-grid {
  font-size : 30px;
  display: inline-block;
}

.grid-square {
  position : fixed;
  width : 30px;
  height: 30px;
  margin: 1px;
  border : 1px solid white;
  &.selected {
    border : 1px solid red;
  }
}

.game-scoreboard {
  position : fixed;
  padding-left: 10px;
  ul.game-scoreboard-listing{

  }
}

